*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: #8c30c5;
  /* display: flex; */
  text-align: end;
}
.navbar > h1{
  font-size: 4em;
  color: white;
  margin-right: 1em;
  padding: 20px 0;
}

form{
  margin-top: 20px;
  font-size: 3em;
  margin-left: 1em;
  display: flex;
  gap: 15px;
}
form >input {
  font-size: 0.6em;
  padding-left: 10px;
  width: 400px;
}